/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color and font styles for the entire page */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light Gray */
    color: #333; /* Dark Gray */
  }
  
  /* Style the adoption content container */
  .adoption-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Style headings and paragraphs */
  h1 {
    color: #2a4d69; /* Deep Blue */
  }
  
  p {
    color: #4b86b4; /* Light Blue */
  }
  
  /* Style the "Adopt Me" button */
  .adopt-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .adopt-button:hover {
    background-color: #45a049; /* Darker Green on hover */
  }
  
/* Stylingg form labels and inputs */
form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  /* submit button */
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
img {
  margin-right: 20px;
} 
p{
  text-align: center;
  font-size: 15px;
  color: #342e37;
}
h1{
  text-align: center;
  color: #8093f1;
}
.navbar {
  height: 80px; 
  background-color: #fb6f92;
  padding: 0 20px; 
  color: #C5C9E8; 
}
.navbar-nav .nav-link {
  margin-right: 20px;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px; 
  padding: 15px 0; 
}
.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #a4133c;
  background-color: transparent;
}
.cat-info-block__seperator {
  border-right: 1px solid #fff;
  margin-right: 22px;
  padding-right: 22px;
}
.navbar-brand-image{
  width: 100px;
}
.cat-main,
.cat-aside {
  width: 50%; 
  box-sizing: border-box; 
  margin-left: 110px;
}