

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #654321; 
    margin-top: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 10px;
    padding: 10px;
    background-color: #d2b48c; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nav-link {
    display: block;
    text-align: center;
    color: #654321; 
    text-decoration: none;
    font-weight: bold;
}

.Check-out {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #654321; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Check-out:hover {
    background-color: #8b4513; 
}


 .navbar {
    background-color: #8B4513; 
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff; /* White */
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #f5f5f5; /* Light grey */
  }
  
  
  .container {
    margin-top: 20px;
  }
  
  h1 {
    color: #4d3319; 
  }
  
  p {
    color: #5c4033
  }
.item.hovered {
  cursor: pointer; 
}


.item-quantity {
  margin-left: 5px; 
  font-weight: bold; 
  color: #007bff; 
}


.quantity-button {
  margin-left: 5px; 
  cursor: pointer; 
  user-select: none; 
}



#total-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

  
