 /* Navbar */
 .navbar {
    background-color: #8B4513; /* Saddle Brown */
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff; /* White */
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #f5f5f5; /* Light grey */
  }
  
  /* Main Content */
  .container {
    margin-top: 20px;
  }
  
  h1 {
    color: #4d3319; /* Brown */
  }
  
  p {
    color: #5c4033; /* Dark Brown */
  }